{% extends 'navbar.html' %}

{% load static %}
{% load crispy_forms_tags %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Deposit </title>
</head>
<body>
    {% block content %}
        {% include 'navbar.html' %}
    <div class="deposit"  style="margin-top: 10vh; margin-left: 60px; margin-right: 60px;">
                <form action="" method="POST"> {% csrf_token %}
                  {{depositforms.deposit|as_crispy_field}}
                   <button type="submit" class="btn btn-success"  style="width: 30%; margin-top: 30px;">Deposit</button>
                </form>
    </div>
    {% endblock %}
</body>
</html>
