{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Users Dashboard </title>
</head>
<body>
    <div class="back">
        {% block content %}
        {% include 'navbar.html' %}
          <div style="margin-top: 10vh; margin-left: 20px; margin-right: 20px;">
            <h4>Firstname :   {{firstname}}</h4>  <hr>
            <h4>SecondName: {{secondname}} </h4>   <hr>
            <h4>Email:  {{emailaddress}} </h4>  <hr>
            <h4>Phone Number :  0{{phone}} </h4> <hr>
            <h4>Account Number:  {{accountnumber}}</h4>  <hr>
            <h4>Bank Name:   {{bank}} </h4>


          </div>
         
  
        {% endblock %}
    </div>
</body>
</html>