<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   <form action="" method="POST"> {% csrf_token %}
     {% for form in loginform %}
       {{form.label}} {{form}} <br>
      {% endfor %}
      <input type="submit" value="Login">
   </form>
    <h3>Haven't Signed UP</h3>
    <a href="{% url 'signup' %}" ><input type="button" value ="Signup"></a>
</body>
</html>