{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Log In</title>
</head>
<body>
    <!-- As a link -->
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;">DjangoVirtualBank</a>
    </div>
</nav>
<div style="justify-content: center; padding-top: 10vh; padding-left: 20%; padding-right: 20%;">
    <div><h3 style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">LOGIN HERE</h3></div>
    <form action="" method="post"> {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div><p style="font-size: medium; font-weight: 700;">If You dont Have an Account yet!! <a href="{% url 'signup' %}" style="text-decoration: none;"><span style="color: red; text-decoration: none;">Sign Up</span></a></p></div>
          <button type="submit" class="btn btn-success" style="width: 250px; margin-top: 20px;">Login </button>


    </form>
</div>

    





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>

<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LoginPage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

  <div class="main">

        <div class="navbar">
          <div class="icon">
              <h2 class="logo">DjangoVirtualBank </h2>
          </div>
        </div>
       
        <div class="formClass">
              
          <form action="" method="POST"> {% csrf_token %}
             
              <div class="inputForm">
                <label for="" class="label">Username</label>
                  {{loginform.username}}
              </div> <br>
              <div class="inputForm">
                <label for="" class="label">Password</label>
                {{loginform.password}}
              </div> <br>
                
               <button  class="login"type="submit">Login </button>
               <h4>Dont own an account yet? <a href="{% url 'signup' %}">Sign Up</a></h4>
            </form>
            
        </div>
          
          
        </div>
    

 </div>

  

  </body>
</html> -->