<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Transactions</title>
</head>
<body>
    <H4>HI</H4>
    <form action="" method="POST"> {% csrf_token %}
        {% for form in forms %}
             {{form.label}}<br>
             {{form}} 
             <hr>
        {% endfor %}
        <input type="submit" value="Validate details">
    </form>
</body>
</html>