{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
  {% block content %}  
  <div class="navbar">
    <div class="icon">
        <a href="{% url 'home' %}"><h2 class="logo">DjangoVirtualBank </h2></a>
        
    </div>
    <div class="user">
        <h4>Hi, {{request.user}}</h4>

    </div>
    
  </div>
  {% endblock %}
</body>
</html>